*{
    margin: 0;
    padding: 0;
}
/* Navigation bar */   

.navbar {
    background-color: white;
    overflow: hidden;
  }
  .navbar a p {
    float: left;
    color: #6070FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.2;
    margin-left: 155px;
    margin-top: 25px;
    font-weight: 700;
    height: 20px;
  }
  
  .navbar-list {
    float: right;
    margin-right:154px ;
    margin-top: 25px;
  }
  
  .navbar-list a {
    float: left;
    color:#344563;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;

    font-family: Poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .navbar-list .icon {
    display: none;
  }

  .headline{
      
  }

  .headline .title
  {

  }