*{
    margin: 0;
    padding: 0;
}
/* Navigation bar */   

.navbar {
    background-color: white;
    overflow: hidden;
  }
  .navbar a p {
    float: left;
    color: #6070FF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.2;
    margin-left: 155px;
    margin-top: 25px;
    font-weight: 700;
    height: 20px;
  }
  
  .navbar-list {
    float: right;
    margin-right:154px ;
    margin-top: 25px;
  }
  
  .navbar-list a {
    float: left;
    color:#344563;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;

    font-family: Poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .navbar-list .icon {
    display: none;
  }

  .headline{
    background-image: url("../image/Header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 916px;
    width: 1440px;
    left: 0px;
    top: 1px;
  }

   .title h1
  {
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    color:#091E42;
    width: 920px;
    height: 122px;
    font-weight: 700;
    line-height: 60px;
    margin: 359px 260px 435px 260px;
  }
